:root {
    --cor-principal: #6a0674;
    --cor-secundaria: #18828a ;
    --cor-shadow: rgba(106, 6, 116, 0.8);
}

/*Nav css goes here*/
*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
        url("./açai_fundo.jpg") center repeat;
    background-size:cover ;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.menu-icons {
    color: #eee;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translatey(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.logo {
    width: 5rem;
    height: 5rem;
    background-color: var(--cor-principal);
    display: flex;
    border-radius: 100%;
    margin-right: 5rem;
}

.logo i {
    margin: auto;
    font-size: 3rem;
    color: #eee;
}

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-list li {
    line-height: 8rem;
    position: relative;
}

.sub-menu li {
    line-height: 4rem;
}

.nav-list a {
    display: block;
    color: #eee;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover {
    color: var(--cor-principal);
}

.btn {
    padding: 1.3rem;
    display: inline-block;
    background-color: var(--cor-principal);
    border: 2px solid var(--cor-principal);
    border-radius: 5rem;
    transition: background-color 650ms;
}

.btn:hover {
    color: var(--cor-principal);
    background-color: rgba(0, 0, 0, .2);
}

.sub-menu {
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid var(--cor-principal);
    background-color: #191919;
    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: var(--cor-principal);
}

.sub-menu .sub-menu::before {
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: var(--cor-principal);
}

.sub-menu .sub-menu {
    border-top: none;
    border-left: 3px solid var(--cor-principal);
    top: 0;
    left: 160%;
}

.nav-list li:hover > .sub-menu {
    top: 8rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover > .sub-menu {
    top: 0;
    left: 100%;
}

li.move-right {
    margin: auto 0 auto auto;
    line-height: initial;
}

/*////////////////////////////////////////////////////*/


/*Galeria*/

.fotos {
    margin-top: 10rem;
}

.galeria-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.gallery-items {
    width: 35rem;
    height: 300px;
    height: 25rem;
    position: relative;

    overflow: hidden;
    
    border: 1px solid var(--cor-secundaria);
    border-radius: 1rem;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.01rem;
    transition: 0.5s;
}

.gallery-items:hover img {
    transform: scale(1.1);
}

.overflow {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(transparent, black );
    opacity: 0.7;
    border-radius: 1.1rem;
}

.conteudo {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.conteudo h1,
.conteudo p {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.conteudo p {
    font-size: 1.5rem;
}

.conteudo p b {
    font-weight: 300;
    font-style: italic;
} 




/*///////////////////////////////////////////////////*/

@media screen and (max-width: 900px) {
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50vw;
        border-radius: 0 25px 25px 0;
        display: none;
        flex-direction: column;
        align-items: initial;
        background-color: #191919;
        z-index: 1000;
        overflow-y: scroll;
    }

    .nav-list > li {
        line-height: 6rem;
    }

    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: var(--cor-principal);
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menu::before {
        display: none;
    }

    .nav-list li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .menu-icons {
        display: block;
    }

    .ion-md-close {
        display: none;
    }

    nav.active .ion-md-close {
        display: block;
    }

    nav.active .ion-md-menu {
        display: none;
    }

    nav.active .nav-list {
        display: flex;
    }

    /*********************************************/

    .galeria-container {
        display: flex;
        flex-direction: column;
    }

}

